<div class="container">
    <div class="row text-center d-flex justify-content-center pt-2 mb-1">
        <div class="col-sm-4">
            <b>{{ title }} </b>
        </div>
    </div>
    <div *ngFor='let team of teams'>
        <div class="row text-left d-flex justify-content-letf pt-2 mb-1">
            <div class="col-sm-2">
                <a [routerLink]="['/team',team.AssociateId]">{{team.Name}}</a>                
            </div>
            <div class="col-sm-2">
                {{team.BaseLocation}}              
            </div>
            <div class="col-sm-2">
                {{team.CurrentLocation}}             
            </div>
            <div class="col-sm-2">
                {{team.Designation}}             
            </div>
            <div class="col-sm-2">
                {{team.Summery}}           
            </div>    
        </div>
    </div>
</div>



<!-- <h2> {{ title }} </h2>

<p>teamlanding works!</p>
<thead>
    <th><button type="button" class="btn btn-primary" 
        (click)="toggleImage()">{{showImage?'Hide':'Show'}}</button></th>
    <th>Book Name</th>
    <th>ISBN Code</th>
    <th>Author Name</th>
    <th>publishedOn</th>
    <th>Price</th>
</thead>
<tbody>
    <tr *ngFor='let team of teams'>
        <td><img [src]="team.ImageUrl" [width]="imageHeight" [height]="imageWidth" 
            *ngIf=showImage></td>
        <td>
            <a [routerLink]="['/team',team.AssociateId]">{{team.Name}}</a>
        </td>
        <td>{{team.BaseLocation}}</td>
        <td>{{team.CurrentLocation}}</td>
        <td>{{team.Designation}}</td>
        <td>{{team.Summery}}</td>
    </tr>
</tbody> -->